/* 0 || General */
p {
    font-size: 16px;
}


/* 1 || Header */

header {
    text-align: center;
    background-image: linear-gradient(to right, rgb(76, 76, 226), rgb(56, 0, 109));
    color: white;
}

h1 {
    font-size: 35px;
}



/* 2 || Content */

content {
    display: flex;
    flex-flow: row wrap;
}



/* 3 || Content - Aside */

aside {
    margin: 10px;
    padding: 5px;
}

h2 {
    font-size: 30px;
}

.form-outline {
    /* search button height */
    height: 30px;
}

.his-btn {
    /* buttons for previously searched cities */
    height: 40px;
    margin: 15px 0px 15px 0px;
    border-radius: 5px;
    padding: 7px;

    text-align: center;
    background-color: lightgray;
    cursor: pointer;
}

.his-btn-label {
    /* labels on buttons for prev src cities */
    text-decoration: none;
    color: black;
}

.his-btn-label:hover {
    color: black;
}


/* 4 || Content - Main - Current Forecast */

#currentf {
    margin: 10px;

    border: solid;
    border-width: 1px;
    border-color: rgb(41, 41, 41);

    padding: 5px;

    background-color: #b3c6e7;
}

h3 {
    font-size: 25px;
}

/* 5 || Content - Main - 5-Day Forecast */

#futuref {
    margin-left: 10px;
}

h4 {
    font-size: 20px;
    font-weight: bold;
}

h5 {
    font-size: 18px;
    font-weight: bold;
}

#days {
    display: flex;
    flex-flow: row wrap;
}

.daybox {
    margin: 10px 20px 0px 0px;
    padding: 5px;
    min-height: 220px;
    min-width: 170px;

    background-color: #323d4f;
    color: white;
}